<header class="downstream">
	<section class="container nopad">
		<a href="/" class="header_logo">
			<img src="{{ media_url('/media/img/numfocus_logo.png') }}" alt="NumFOCUS"/>
		</a>
		<div class="buttons">
		<btn>
				<a href="/membership.html" class="btn grey">Join</a>
			</btn>
			<btn>
				<a href="/donations.html" class="btn yellow">Donate</a>
			</btn>
		</div>
		<ul class="nav">
			<li><a href="/membership.html">Take Action</a>
			</li>
			<li><a href="/about.html">Foundation</a>
				
			</li>
			<li><a href="/projects.html">Projects</a>
				
			</li>
			<li><a href="/fellowships.html">Programs</a>
			</li>
			<li><a href="/category/news.html">Blog</a>
			</li>
		</ul>
	</section>
</header>